<html>
  <h2>Current article title:</h2><p> <%= @article.title %> </p>
  <h2>Current article content:</h2><span> <%= @article.content %> </span>
  <form method="POST" action="/articles/:id">
  <p>Article title: <input type="text" name="article_title" id="title"></p>
  <p>Article content: <textarea type="text" name="article_content" id="content"> </textarea></p>
  <p><input type="submit" value="submit"></p>
  <input id='hidden' type='hidden' name='_method' value='patch'>
</form>
</html>
