<h1>
  <form method="POST" action="/articles">
  <h1>Article Title: <input type="text" name="article_title" id="title"></h1>
  <p>Article Content: <input type="text" name="article_content" id="content"></p>
  <p><input type="submit" value="submit"></p>
</form>
</h1>
